.list-todos__item
{
    height: 30px;
    padding-top: 17px;
    padding-bottom: 17px;
    width: 100%;
    border-bottom: 1px solid #d9d5d5;
    position:relative;
}

.list-todos__input {
    font-size: 14pt;
    font-weight: lighter;
    font-family: "Helvetica Neue", serif;
}
.list-todos__btn-del
{
    background: url("../../icons/close.png") center no-repeat;
    border: none;
    object-fit: contain;
    padding: 14px 10px 10px 10px;
    position:absolute;
    bottom:33%;
    right:30px;
    display:none;
}
.list-todos__btn-del:hover
{
    filter: drop-shadow(0px 2px 2px gray);
    cursor: pointer;
}
.list-todos__btn-del:active
{
    transform: translate(0px, 1.5px);
}
.list-todos__item:hover .list-todos__btn-del
{
    display:block;
}
