.todos__footer {
    position: relative;
    padding: 20px 5px;
}
.footer__output
{
    color: rgba(106, 104, 104, 0.98);
    font-size: 15px;
    font-family: "Helvetica Neue", serif;
    left: 15px;
    bottom:27%;
}
.footer__but
{
    background-color: white;
    border: 1px solid white;
}
.footer__but-position
{
    position: absolute;
    right: 10px;
}
.footer__but:active{ border: 1px solid #CCCCCC; }
.footer__but-filters:focus{ border: 1px solid #CCCCCC; }