@import "project/todos__workspace.css";
@import "project/todos__header.css";
@import "project/search-todos.css";
@import "project/list-todos__item.css";
@import "project/list-todos__chb.css";
@import "project/todos__footer.css";
body {
    background: #F5F5F5;
    max-width: 40%;
    max-height: 40%;
    margin: 0 auto;
}
