.todos__footer {
    display: grid;
    grid-template-columns: 70px 1fr 120px;
    grid-template-rows: 40px;
    align-items: center;
    justify-items: center;
}
.footer__output-num
{
    color: rgba(106, 104, 104, 0.98);
    font-size: 15px;
    font-family: "Helvetica Neue", serif;
}
.footer__btn
{
    background-color: white;
    border: 1px solid white;
    color: rgba(106, 104, 104, 0.98);
    font-size: 15px;
    font-family: "Helvetica Neue", serif;
}
.footer__btn-position
{

}
.footer__btn:active{ border: 1px solid #CCCCCC; }
.footer__btn-filters:focus{ border: 1px solid #CCCCCC; }