@import "project/header__title.css";
@import "project/workspace.css";
@import "project/body__list_item.css";
@import "project/body__search.css";
@import "project/workspace__footer.css";
@import "base/buttons.css";
@import "base/icons.css";
@import "base/fonts.css";
@import "base/inputs.css";
body
{
    background: #F5F5F5;
    margin: 0 auto;
    width: 30%;
    height: 40%;
    border-radius: 4px;
}

label::before {
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    border: 1px solid #5dc3af;
    border-radius: 100%;
    vertical-align: middle;
    margin-left: -10px;
    margin-right: 10px;
    margin-bottom: 3px;
}
