.body__list_item
{
    height: 30px;
}
input
{
    margin: 7px 0px;
    padding: 0px;

}
input[type="checkbox"]{
    display:none;
}
label {
    padding-left:  20px
}
label::before {
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    border: 1px solid #5dc3af;
    border-radius: 100%;
    vertical-align: middle;
    margin-left: -10px;
    margin-right: 10px;
}
input[type="checkbox"]:checked + label::before {
    background: url(/Users/antonfuflygin/Desktop/front-end/code_crew/static/icons/completed.png) center no-repeat;
}